body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    
}

#container div{
    width: 200px;
    height: 200px;
    text-align: center;

}
div:nth-of-type(3){
    align-self: flex-end;
}
div:nth-of-type(2){
    align-self: center;
}

main{
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

h2 {
    text-align: center;
}

main .sidebar{
    background-color: #6930c3;
    flex: 1 2 300px;
    

}

flex-grow/ flex-shrink/ felx-basis

main .maincontent{
    background-color: #80ffdb;
    flex: 2 600px;
}
